.sabbir{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.sabbir-img{
    height: 500px;
    width: 500px;
}
.options{
    font-size: 300px;
    font-weight: 900;
}
.home-Banner{
    background: #f6f3f3;
    width: 100%;
}
.social-link{
    display: flex;
    gap: 20px;
}
.social-link a{
    text-decoration: none;
    color: gray;
}